mediapipe
deepface
tensorflow
pandas
pillow
matplotlib
seaborn
joblib
black
isort
fastapi[standard]
uvicorn[standard]
numpy
opencv-python
tf-keras
torch
torchvision
langgraph==0.6.8
langchain==0.3.27
langchain-google-genai==2.1.10